/* nav {
    background: #364f6b;
    border-bottom:1px solid #364f6b;
}

#headnav{
        color: white;
        text-align: center;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

a.tbl-biru {
    background: rgb(255, 196, 0);
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #fc5185;
    text-decoration: none;
} */